# List and its default function

In [1]:
list=[1,2,3,4,5,6,7,8,9,10]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
list.append(11)
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [3]:
list.pop(6)
list

[1, 2, 3, 4, 5, 6, 8, 9, 10, 11]

In [6]:
list.remove(8)
list

[1, 3, 4, 5, 6, 9, 10, 11]

In [7]:
list.reverse()
list

[11, 10, 9, 6, 5, 4, 3, 1]

In [8]:
list.sort()
list

[1, 3, 4, 5, 6, 9, 10, 11]

In [9]:
list.insert(1,2)
list

[1, 2, 3, 4, 5, 6, 9, 10, 11]

In [10]:
a=list.index(11)
a

8

In [11]:
a=list.count(11)
a

1

In [12]:
list1=[10,20,30,40,50]
list.extend(list1)
list

[1, 2, 3, 4, 5, 6, 9, 10, 11, 10, 20, 30, 40, 50]

# Dictionary and its default function

In [13]:
dict={1:"apple",2:"mango",3:"cherry",4:"banana",5:"orange"}
dict

{1: 'apple', 2: 'mango', 3: 'cherry', 4: 'banana', 5: 'orange'}

In [14]:
a=dict.copy()
a

{1: 'apple', 2: 'mango', 3: 'cherry', 4: 'banana', 5: 'orange'}

In [16]:
a=dict.get(3)
a

'cherry'

In [18]:
a=dict.items()
a

dict_items([(1, 'apple'), (2, 'mango'), (3, 'cherry'), (4, 'banana'), (5, 'orange')])

In [19]:
a=dict.keys()
a

dict_keys([1, 2, 3, 4, 5])

In [20]:
a=dict.values()
a

dict_values(['apple', 'mango', 'cherry', 'banana', 'orange'])

In [24]:
dict.update({6:"watermelon"})
dict

{1: 'apple',
 2: 'mango',
 3: 'cherry',
 4: 'banana',
 5: 'orange',
 6: 'watermelon'}

In [25]:
a=dict.setdefault(4,"kiwi")
a

'banana'

In [26]:
dict.popitem()
dict

{1: 'apple', 2: 'mango', 3: 'cherry', 4: 'banana', 5: 'orange'}

In [27]:
dict.pop(2)
dict

{1: 'apple', 3: 'cherry', 4: 'banana', 5: 'orange'}

In [28]:
a=("a1","a2","a3")
b=dict.fromkeys(a)
b

{'a1': None, 'a2': None, 'a3': None}

In [29]:
dict.clear()
dict

{}

# Sets and its default function

In [30]:
sets={"apple","orange","banana","mango"}
sets

{'apple', 'banana', 'mango', 'orange'}

In [31]:
sets.add("pineapple")
sets

{'apple', 'banana', 'mango', 'orange', 'pineapple'}

In [32]:
a=sets.copy()
a

{'apple', 'banana', 'mango', 'orange', 'pineapple'}

In [42]:
set1={"apple","mango","banana"}
set2={"banana","cherry","pineapple"}
set3=set1.difference(set2)
set3

{'apple', 'mango'}

In [43]:
set1={"apple","mango","banana"}
set2={"banana","cherry","pineapple"}
set1.difference_update(set2)
set1

{'apple', 'mango'}

In [39]:
sets.discard("mango")
sets

{'apple', 'banana', 'orange', 'pineapple'}

In [45]:
set1={"apple","mango","banana"}
set2={"banana","cherry","pineapple"}
set3=set1.intersection(set2)
set3

{'banana'}

In [46]:
set1={"apple","mango","banana"}
set2={"banana","cherry","pineapple"}
set1.intersection_update(set2)
set1

{'banana'}

In [47]:
set1={"apple","mango","banana"}
set2={"banana","cherry","pineapple"}
set3=set1.isdisjoint(set2)
set3

False

In [48]:
set1={"apple","mango","banana"}
set2={"banana","cherry","pineapple"}
set3=set1.issubset(set2)
set3

False

In [49]:
set1={"apple","mango","banana"}
set2={"banana","cherry","pineapple"}
set3=set1.issuperset(set2)
set3

False

In [54]:
sets={"apple","orange","banana","pineapple","cherry"}
sets

{'apple', 'banana', 'cherry', 'orange', 'pineapple'}

In [55]:
sets.pop()
sets

{'apple', 'cherry', 'orange', 'pineapple'}

In [56]:
sets.remove("cherry")
sets

{'apple', 'orange', 'pineapple'}

In [57]:
set1={"apple","mango","banana"}
set2={"banana","cherry","pineapple"}
set3=set1.symmetric_difference(set2)
set3

{'apple', 'cherry', 'mango', 'pineapple'}

In [58]:
set1={"apple","mango","banana"}
set2={"banana","cherry","pineapple"}
set1.symmetric_difference_update(set2)
set1

{'apple', 'cherry', 'mango', 'pineapple'}

In [59]:
set1={"apple","mango","banana"}
set2={"banana","cherry","pineapple"}
set3=set1.union(set2)
set3

{'apple', 'banana', 'cherry', 'mango', 'pineapple'}

In [60]:
set1={"apple","mango","banana"}
set2={"banana","cherry","pineapple"}
set1.update(set2)
set1

{'apple', 'banana', 'cherry', 'mango', 'pineapple'}

In [61]:
sets.clear()
sets

set()

# Tuples and its method

In [63]:
tuple=(1,2,3,4,5,6,7,8,3,5,2,3)
tuple

(1, 2, 3, 4, 5, 6, 7, 8, 3, 5, 2, 3)

In [64]:
a=tuple.count(3)
a

3

In [65]:
a=tuple.index(2)
a

1

# Strings and default method

In [75]:
txt="Hi Hello,Hi Everyone"
txt

'Hi Hello,Hi Everyone'

In [76]:
a=txt.capitalize()
a

'Hi hello,hi everyone'

In [77]:
a=txt.casefold()
a

'hi hello,hi everyone'

In [79]:
a=txt.center(40)
a

'          Hi Hello,Hi Everyone          '

In [81]:
a=txt.count("Hi")
a

2

In [83]:
a=txt.encode()
a

b'Hi Hello,Hi Everyone'

In [84]:
a=txt.endswith(".")
a

False

In [88]:
txt1="Hi\tHello,\tHi\tEveryone"
a=txt1.expandtabs(5)
a

'Hi   Hello,    Hi   Everyone'

In [90]:
a=txt.find("Hello")
a

3

In [92]:
txt="Hi Hello,Hi Everyone"
a=txt.index("Everyone")
a

12

In [93]:
txt="Hi Hello,Hi Everyone"
a=txt.isalnum()
a

False

In [94]:
a=txt.isalpha()
a

False

In [98]:
txt1="\u0011"
a=txt1.isdecimal()
a

False

In [99]:
txt1="125463"
a=txt1.isdigit()
a

True

In [100]:
a=txt1.isidentifier()
a

False

In [101]:
txt="Hi Hello,Hi Everyone"
a=txt.islower()
a

False

In [102]:
txt="Hi Hello,Hi Everyone"
a=txt.isnumeric()
a

False

In [103]:
txt="Hi Hello,Hi Everyone"
a=txt.isprintable()
a

True

In [104]:
txt2="   "
a=txt2.isspace()
a

True

In [105]:
txt="Hi Hello,Hi Everyone"
a=txt.istitle()
a

True

In [106]:
a=txt.isupper()
a

False

In [109]:
tuple=("apple","mango","banana")
a="*".join(tuple)
a

'apple*mango*banana'

In [112]:
txt="Hi Hello,Hi Everyone"
a=txt.ljust(40)
print(a,"how r u......")

Hi Hello,Hi Everyone                     how r u......

In [113]:
txt="Hi HELLO,Hi Everyone"
a=txt.lower()
a

'hi hello,hi everyone'

In [115]:
txt="     blue  "
a=txt.lstrip()
print("among all colors",a,"is my favorite")

among all colors blue   is my favorite

In [117]:
txt="hello Piku!";
a=txt.maketrans("P","M");
print(txt.translate(a))

hello Miku!

In [118]:
txt="My Favorite color is blue"
a=txt.partition("color")
a

('My Favorite ', 'color', ' is blue')

In [119]:
txt="My Favorite color is yellow"
a=txt.replace("yellow","blue")
a

'My Favorite color is blue'

In [120]:
txt="My Favorite color is blue"
a=txt.rindex("color")
a

12

In [121]:
txt="My Favorite color is blue"
a=txt.rpartition("is")
a

('My Favorite color ', 'is', ' blue')

In [124]:
txt="welcome to hello world"
a=txt.split()
a

['welcome', 'to', 'hello', 'world']

In [125]:
txt="welcome to\nhello world"
a=txt.splitlines()
a

['welcome to', 'hello world']

In [126]:
txt="welcome to hello world"
a=txt.startswith("welcome")
a

True

In [128]:
txt="           blue    "
a=txt.strip()
print("among all colors",a,"is my favorite color")

among all colors blue is my favorite color

In [129]:
txt="Hello WorlD"
a=txt.swapcase()
a

'hELLO wORLd'

In [131]:
txt="hello world"
a=txt.title()
a

'Hello World'

In [132]:
txt="hello worlD"
a=txt.upper()
a

'HELLO WORLD'

In [135]:
txt=("LET'S UPGRADE")
a=txt.zfill(20)
a

"0000000LET'S UPGRADE"